.centered {
  text-align: center;
  align-content: center;
}

.circular {
  border-radius: 50%;
}

nav a {
  color: black;
  text-decoration: none !important;
}

nav a:visited {
  color: black;
  text-decoration: none;
  font-size: 11pt;
  font-weight: 300;
}

.nav-left {
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 24px;
  padding-top: 24px;
}

nav li a {
  display: block;
  padding: 12px;
  line-height: 12px;
  color: black;
}

nav a:hover {
  color: white;
  background-color: rgb(64, 146, 196);
  border-radius: 4px;
}

.section {
  margin-top: 16px;
  margin-bottom: 96px;
  text-align: center;
  align-content: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.section-left {
  margin-top: 16px;
  margin-bottom: 96px;
  text-align: left;
  align-content: left;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  color: rgb(64, 146, 196);
  font-size: 36pt;
  margin-top: 32pt;
  margin-bottom: 16pt;
}

img {
  vertical-align: middle;
}

.header-grey {
  overflow: hidden;
  background-color: rgb(237, 240, 241);
  padding: 20px 10px;
}

.footer-grey {
  overflow: hidden;
  background-color: rgb(237, 240, 241);
  align-content: center;
}

h2 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  color: rgb(64, 146, 196);
  font-size: 24pt;
}

h4 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 4px;
  font-size: 10pt;
  color: rgb(64, 146, 196);
}

body {
  margin: 0;
  background: white;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}

.bottom {
  margin-top: auto;
  margin-bottom: 16px;
}

.grid-container-apps {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}

.top {
  margin-top: 0px;
}

.grid-container-lines {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
}

.header-container {
  width: 80%;
  margin: 0 auto;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

header a:visited {
  text-decoration: none;
}

.no-style {
  border: none;
  background-color: transparent;
}